  h2, h3 {
    text-align: center;
    margin-bottom: 50px;
    margin-bottom: 3rem;  
  }

  .input-group-text {
    width: 15%;
  }

  .bg-color1 {
    background-color: blanchedalmond;
    border-radius: 20px;
    padding-top: 2rem; 
    padding-bottom: 3rem;
    width: 800px;
    margin-top: 4rem;
}



html,
.body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(7, 66, 7);
    overflow: hidden;
    
}



.circle-button {
    width: 50px;
    height: 50px;
    padding: 0;
    margin-top: 75px;
    margin-left: 20px;
  }